* {
  box-sizing: border-box;
}

body {
  padding: 50px 100px 0;

  font-family: sans-serif;
}

.country-input {
  display: block;
  margin: 0 auto;
  padding: 10px;

  border-radius: 15px;
  outline: none;

  font-size: 30px;
}

.content-wrapper {
  font-size: 40px;
}

.country-name {
  text-align: center;
  font-size: 65px;
}

.country-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;

  border-radius: 15px;
  background-image: linear-gradient(to bottom right, #f3efed, #c8c8cf);
}

.country-data {
  margin-right: 50px;
}

.country-data > p {
  font-weight: 700;
}

.country-data span {
  font-weight: 400;
}

.country-flag {
  width: 50%;
}

.country-list {
  padding: 50px;

  border-radius: 15px;
  background-image: linear-gradient(to bottom right, #f3efed, #c8c8cf);
}
